@import "normalize.css";

* {
    box-sizing: border-box;
}

/* 
============================
Main Content Styles
============================
*/

body {
    margin: 0 auto;
    max-width: 1024px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    text-transform: uppercase;
}

/*
============================
Navigation
============================
*/

nav {
    font-weight: 500;
    letter-spacing: 0.3em;
    background-color: lightblue;
    padding: 25px;
}

h1,
.top-nav {
    text-align: center;
    font-family: 'Kaushan Script', cursive;
}

.top-nav,
.top-nav li {
    width: 100%;
}

.top-nav a {
    display: block;
    color: #000;
    text-transform: uppercase;
    line-height: 1.6em;
    padding: 10px 0 10px;
}

.top-nav li { 
    margin: 5px auto;
    background: #fff;
}

.top-nav ul {
    margin: 0;
    padding: 0;
}


/*
===============================
Hero Content
===============================
*/

.hero-text {
    
    text-align: center;
  
    padding: 20px 10px;
    line-height: 1.5em;
    font: 25px 'Roboto', sans-serif;
}

.hero-image {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
}

/*
===============================
Portfolio
===============================
*/

.portfolio {
    max-width: 100%;
    text-align: center;
    
}

.portfolio-main p{
    padding: 20px;
    max-width: 900px;
    text-align: center;
    font: 20px 'Ubuntu', sans-serif;
}

.portfolio-main h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

/*
===============================
Skills Section
===============================
*/

.skills {
    text-align: center;
    padding: 20px;
}

.skills p{
    display: inline-block;
    margin: 15px;
  }
.circle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: 500;
    line-height: 75px;
    text-align: center;
    background: #000;
    border: 2px dotted black;
}

.circle1 {
    background-color: teal;
    transition: transform 0.5s;
}

.circle1:hover {
    transform: translatey(-20px);
}

.circle2 {
    background-color: rgba(110, 58, 110, 0.87);
    transition: transform 0.5s;
}

.circle2:hover {
    transform: translatey(-20px);
}

.circle3 {
    background-color: lightgreen;
    transition: transform 0.5s;
}

.circle3:hover {
    transform: translatey(-20px);
}

.circle4 {
    background-color: slategray;
    transition: transform 0.5s;
}

.circle4:hover {
    transform: translatey(-20px);
}
/*
================================
Contact
================================
*/

.contact {
    text-align: center;
    background-color: lightblue;
    color: darkblue;
    padding: 10px;
    font: 20px 'Roboto', sans-serif;
}

.contact h3 {
    text-transform: uppercase;
}

/*
================================
Footer Styles
================================
*/

footer h2 {
    float: left;
    padding: 0 10px;
    color: black;
    font: 17px 'Kaushan Script', cursive;
}

footer .top {
    float: right;
}

.footer-nav {
    display: none;
}

.nav-back h2{
    color:black;
}

.top a {
    color: black;
}

/*
================================
ClearFix
================================
*/
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

/*
================================
Media Queries
================================
*/

@media (min-width: 768px) {
   
    .top-nav {
        margin-top: 0;
    }

    .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
        background-color: transparent;
    }

    .top-nav li:last-child {
        margin-right: 0;
    }

    .top-nav a {
        color: #000;
    }

    .market,
    .search,
    .travel,
    .spot,
    .photo,
    .calc {
        display: inline-block;
        max-width: 33%;
        vertical-align: top;
    }
    
    .container {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .footer-nav {
        display: inline-flex;
        text-decoration: none;
        list-style-type: none;
        color: #000;
        text-transform: uppercase;
        float: right;
        padding: 0;
        background: transparent;
        letter-spacing: 0.3em;
    }

    .footer-nav ul {
        display: inline-flex;
        font: 17px 'Kaushan Script', cursive;
    }
    .footer-nav a {
        text-decoration:  none;
        padding: 5px;
        color: black;
    }

    .top {
        display: none;
    }
}

@media (min-width: 1024px){
    h1{
        float: left;
        text-align: left;
        height: 12px;
        line-height: 12px;
        padding-left: 20px;
        padding-top: 19px;
    }
    
    .top-nav {
        text-align: right;
    }

    .hero-image {
        float: right;
    }

    .hero-text p{
        float: left;
        text-align: left;
    }

}


